<% if(title) {%>
    <h1><%= title %></h1>
<%} else{
    res.redirect('/')
}%>
    
<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <% if(error.msg !== "Invalid value") {%>
                <li><%= error.msg %></li>
            <%}%>
        <% }) %>
    </ul>
<% } %>

<div class="containerInv">
    <p>ALL FIELDS ARE REQUIRED</p>
    <form action="/inv/edit-review" method="post" class="addCar" id="deleteForm">
        <label for="review-date">Review Date</label><br>
        <input type="text" name="review_date" readonly id="review-date" required value="<%= locals.review_date %>"><br>
        <label for="review-text">Review Text</label><br>
        <textarea name="review_text" id="description-review" required><%= locals.review_text %></textarea><br>
        <input type="submit" value="Edit Review" id="deleteBtn" class="submitBtn">
        <input type="hidden" name="review_id"
        <% if (locals.review_id) {%> value="<%= locals.review_id %>"
            
        <%} %>>
        <input type="hidden" name="inv_id"
        <% if (locals.inv_id) {%> value="<%= locals.inv_id %>"
            
        <%} %>>
    </form>
</div>
